// tipografia

$fuente_ppal: 'Montserrat';
$fuente_sec: 'Roboto';

// croma ppal

$violeta: #572EE5;
$negro: #000000;

// croma dark mode

$verde: #50E3C2;
$blanco: #FFFFFF;


// font-family: 'Montserrat', sans-serif;


