// tipografia

$fuente_ppal: 'Montserrat' , sans-serif;
$fuente_sec: 'Roboto' , sans-serif;

// croma ppal

$violeta: #572EE5;
$negro: #000000;

$colorGrey: #9CAFC3;

// croma dark mode

$verde: #50E3C2;
$blanco: #FFFFFF;


// font-family: 'Montserrat', sans-serif;

// ________________________________________

// PARA MOBILE!!!!!

@mixin titulos {
    font-family: $fuente_ppal;
    color: $violeta;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

@mixin text {
    font-family: $fuente_sec;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px;
    }

@mixin boton {
    background-color: white;
    border-radius: 25px;
    border: 1px solid $violeta;
    font-family: $fuente_ppal;
    font-weight: bold;
    color: $violeta;
    font-size: 13px;
    letter-spacing: 0;
    text-align: center; 
}

// ________________________________________

// PARA DESKTOP!!!!!

@mixin titulosDesktop {
    font-family: $fuente_ppal;
    color: $violeta;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
}

@mixin textDesktop {
    font-family: $fuente_sec;
    font-size: 18px;
    color: #000000;
    text-align: center;
    line-height: 23px;
    }

@mixin botonDesktop {
    background-color: white;
    border-radius: 25px;
    border: 1px solid $violeta;
    font-family: $fuente_ppal;
    font-family: $fuente_ppal;
    font-size: 13px;
    font-weight: bold;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
}

// ________________________________________