* {
  margin: 0;
  padding: 0; }

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 46px; }
  header .linea_violeta {
    width: 100vw;
    height: 5px;
    background-color: #572EE5; }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 95px; }
    header nav ul li {
      display: inline;
      font-family: "Montserrat", sans-serif;
      font-weight: bold; }
      header nav ul li a {
        list-style: none;
        text-decoration: none;
        color: black; }
    header nav ul .contenedorPlusIcon {
      display: none; }

footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  footer .compartirFooter {
    margin-top: 47px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
    text-align: center; }
  footer .iconsFooter {
    margin: 18px 0px 46px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .iconsFooter a {
      color: #9CAFC3;
      padding-left: 19px;
      width: 20px;
      height: 20px; }
  footer p {
    margin-bottom: 23px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0; }

.linea_violeta_final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100vw;
  height: 5px;
  background-color: #572EE5; }

@media screen and (min-width: 768px) {
  .landing_favoritos nav {
    height: 90px; }
    .landing_favoritos nav a img {
      width: 59.1px;
      height: 59.1px; }
    .landing_favoritos nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .landing_favoritos nav ul li a {
        font-family: "Montserrat", sans-serif;
        color: #572EE5;
        font-size: 13px;
        letter-spacing: 0;
        text-align: center;
        padding-right: 41.5px; }
      .landing_favoritos nav ul li .favoritos_nav {
        color: #9CAFC3; }
      .landing_favoritos nav ul li .misGifos_nav {
        color: #9CAFC3; }
      .landing_favoritos nav ul .contenedorPlusIcon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 54px;
        height: 54px;
        border: 1px solid #572EE5;
        border-radius: 100px; }
        .landing_favoritos nav ul .contenedorPlusIcon .iconPlus {
          -ms-flex-item-align: center;
              align-self: center;
          color: #572EE5; }
          .landing_favoritos nav ul .contenedorPlusIcon .iconPlus a {
            padding-right: 0px; }
  .landing_favoritos .headingFavoritos {
    margin-top: 11px; }
    .landing_favoritos .headingFavoritos h1 {
      font-family: "Montserrat", sans-serif;
      color: #572EE5;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
      line-height: 30px; }

  .trendingComunidad {
    margin-top: 95px;
    width: 100vw;
    height: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F3F5F8; }
    .trendingComunidad h1 {
      font-family: "Montserrat", sans-serif;
      color: #572EE5;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
      line-height: 30px; }
    .trendingComunidad p {
      margin: 12px 0 40px 0;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      color: #000000;
      text-align: center;
      line-height: 23px;
      max-width: 500px; }
    .trendingComunidad #slideTrendingComunidad {
      margin-top: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .trendingComunidad #slideTrendingComunidad img {
        width: 357px;
        height: 275px;
        padding-right: 29px; } }
@media screen and (min-width: 768px) and (min-width: 768px) {
  footer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 49.5px 0 51.4px 0; }
    footer .partOne_footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      footer .partOne_footer .compartirFooter {
        margin-top: 0;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        color: #000000;
        letter-spacing: 0;
        text-align: center; }
      footer .partOne_footer .iconsFooter a {
        margin-left: 5px;
        padding-top: 10px;
        color: #c2c2c2;
        padding-left: 19px;
        width: 20px;
        height: 20px; }
      footer .partOne_footer .iconsFooter .twitterIcon {
        color: #572EE5; }
    footer p {
      margin-top: 0;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      color: #000000;
      letter-spacing: 0; }

  .linea_violeta_final {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 100vw;
    height: 5px;
    background-color: #572EE5; } }
@media screen and (min-width: 768px) {
  .landing_mas nav {
    height: 90px; }
    .landing_mas nav a img {
      width: 59.1px;
      height: 59.1px; }
    .landing_mas nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .landing_mas nav ul li a {
        font-family: "Montserrat", sans-serif;
        color: #572EE5;
        font-size: 13px;
        letter-spacing: 0;
        text-align: center;
        padding-right: 41.5px; }
      .landing_mas nav ul .contenedorPlusIcon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 54px;
        height: 54px;
        border: 1px solid #9CAFC3;
        background-color: #9CAFC3;
        border-radius: 100px; }
        .landing_mas nav ul .contenedorPlusIcon .iconPlus {
          -ms-flex-item-align: center;
              align-self: center; }
          .landing_mas nav ul .contenedorPlusIcon .iconPlus i {
            color: white; }
          .landing_mas nav ul .contenedorPlusIcon .iconPlus a {
            padding-right: 0px; }

  .mas_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .mas_box .box {
      width: 688px;
      height: 390px;
      border: 1px solid #572EE5; }
    .mas_box .line_box {
      width: 795.9px;
      height: 6.9;
      background-color: #572EE5; }
    .mas_box button {
      height: 50px;
      width: 127px;
      background-color: white;
      border-radius: 25px;
      border: 1px solid #572EE5;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: #572EE5;
      font-size: 13px;
      letter-spacing: 0;
      text-align: center; }

  footer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer .compartirFooter {
      margin-top: 47px;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      color: #000000;
      letter-spacing: 0;
      text-align: center; }
    footer .iconsFooter {
      margin: 18px 0px 46px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      footer .iconsFooter a {
        color: #9CAFC3;
        padding-left: 19px;
        width: 20px;
        height: 20px; }
    footer p {
      margin-bottom: 23px;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      color: #000000;
      letter-spacing: 0; }

  .linea_violeta_final {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 100vw;
    height: 5px;
    background-color: #572EE5; } }

/*# sourceMappingURL=mas.css.map */