@import 'variables';

*{
    margin: 0;
    padding: 0;
}

header{
    box-sizing: border-box;
    margin-bottom: 46px;

    .linea_violeta{
        width: 100vw;
        height: 5px;
        background-color: $violeta;
    }

    // navbar con menu hamburguesa JS?

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 95px;

        ul{
            li{
                display: inline;
                font-family: $fuente_ppal;
                font-weight: bold;

                a{
                    list-style: none;
                    text-decoration: none;
                    color: black;
                }
            }

            .contenedorPlusIcon{
                display: none;
            }
        }
    }
}

// main{
//     .box{
//         display: none;
//     }
//     .hr{
//         display: none;
//     }
// }   

footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .compartirFooter{
        margin-top: 47px;
        font-family: $fuente_sec;
        font-size: 15px;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
    }

    .iconsFooter{
        margin: 18px 0px 46px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        a{
            color: $colorGrey;
            padding-left: 19px;
            width: 20px;
            height: 20px;
        }
    }

    p{
        margin-bottom: 23px;
        font-family: $fuente_sec;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0;
    }
}


.linea_violeta_final{
    display: flex;
    justify-content: end;
    width: 100vw;
    height: 5px;
    background-color: $violeta;
}


@import "media_query_fav_gifos_mas";