@import 'variables';

// FAVORITOS MEDIA QUERY

@media screen and (min-width: 768px){
    header{
        nav{
            height: 90px;
        a{
            img{
                width: 59.1px;
                height: 59.1px;
            }
        }

            ul{
                display: flex;
                align-items: center;
                li{
                    a{
                        font-family: $fuente_ppal;
                        color: $violeta; 
                        font-size: 13px;
                        letter-spacing: 0;
                        text-align: center;
                        padding-right: 41.5px;
                    }

                    .favoritos_nav{
                        color: $colorGrey;
                    }
                }
                .contenedorPlusIcon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 54px;
                    height: 54px;
                    border: 1px solid $violeta;
                    border-radius: 100px;

                    .iconPlus{
                        align-self: center;
                        color: $violeta;

                        a{
                            padding-right: 0px;
                        }
                    }
                }
            }
        }

        .headingInspirate{
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            h1{
                position: relative;
                margin-top: 76px;
                font-family: $fuente_ppal;
                color: $violeta;
                font-size: 35px;
                text-align: center;
                line-height: 50px;
                max-width: 600px;
    
                span{
                    color: $verde;
                }
            }
    
            img{
                width: 399px;
                height: 190px;
                margin-top: 31px;
            }

            // barra de busqueda
    
            #boxHeading{
                width: 551px;
                height: 50px;
                border: 1px solid $violeta;
                border-radius: 60px;
            }
    
            .trending{
                text-align: center;
                max-width: 402px;
                margin-top: 73px;
    
                h4{
                    font-family: $fuente_ppal;
                    color: $violeta;
                    font-weight: bold;
                    font-size: 18px;
                }
    
                p{
                    margin-top: 8px;
                    font-family: $fuente_ppal;
                    font-weight: 400;
                    color: $violeta;
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        }
    }
}