// estilos mobile

@import "variables";


*{
    margin: 0;
    padding: 0;
}

header{

    .linea_violeta{
        width: 100vw;
        height: 5px;
        background-color: $violeta;
    }

    // navbar con menu hamburguesa JS?

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 95px;

        ul{
            li{
                display: inline;
                font-family: $fuente_ppal;
                font-weight: bold;

                a{
                    list-style: none;
                    text-decoration: none;
                    color: black;
                }
            }
            // .iconPlus{
            //     display: none;
            // }
        }

    }

    .headingInspirate{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            position: relative;
            margin-top: 7px;
            font-family: $fuente_ppal;
            color: $violeta;
            font-size: 25px;
            text-align: center;
            line-height: 33px;
            max-width: 286px;

            span{
                color: $verde;
            }
        }

        img{
            width: 273px;
            height: 130px;
            margin-top: 31px;
        }

        #boxHeading{
            width: 334px;
            height: 50px;
            border: 1px solid $violeta;
            border-radius: 60px;
        }

        .trending{
            text-align: center;
            max-width: 225px;
            margin-top: 31px;

            h4{
                font-family: $fuente_ppal;
                color: $violeta;
                font-weight: bold;
                font-size: 1em;
            }

            p{
                margin-top: 8px;
                font-family: $fuente_ppal;
                font-weight: 400;
                color: $violeta;
                font-size: 14px;
                line-height: 25px;
            }
        }
    }

}

// otra landing

// main{
//     width: 100vw;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;

//     h1{
//         @include titulos;
//     }
// }

.trendingComunidad{
    margin-top: 45px;
    width: 100vw;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F3F5F8;

    h1{
        @include titulos;
    }

    p{
        margin-top: 7px;
        @include text;
        max-width: 333px;
    }

    #slideTrendingComunidad{
        margin-top: 32px;
        display: flex;
        flex-direction: row;

    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .compartirFooter{
        margin-top: 47px;
        font-family: $fuente_sec;
        font-size: 15px;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
    }

    .iconsFooter{
        margin: 18px 0px 46px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        a{
            color: rgb(194, 194, 194);
            padding-left: 19px;
            width: 20px;
            height: 20px;
        }
    }

    p{
        margin-bottom: 23px;
        font-family: $fuente_sec;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0;
    }

    .linea_violeta_final{
        display: flex;
        justify-content: end;
        width: 100vw;
        height: 5px;
        background-color: $violeta;
    }
}


@import "media_query";