@import "variables";

*{
    margin: 0;
    padding: 0;
}

header{
    box-sizing: border-box;

    .linea_violeta{
        width: 100vw;
        height: 5px;
        background-color: $violeta;
    }

    // navbar con menu hamburguesa JS?

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 95px;

        ul{
            li{
                display: inline;
                font-family: $fuente_ppal;
                font-weight: bold;

                a{
                    list-style: none;
                    text-decoration: none;
                    color: black;
                }
            }

            .contenedorPlusIcon{
                display: none;
            }
        }

    }

    .headingInspirate{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            position: relative;
            margin-top: 7px;
            font-family: $fuente_ppal;
            color: $violeta;
            font-size: 25px;
            text-align: center;
            line-height: 33px;
            max-width: 286px;

            span{
                color: $verde;
            }
        }

        img{
            width: 273px;
            height: 130px;
            margin-top: 31px;
        }

        #boxHeading{
            width: 334px;
            height: 50px;
            border: 1px solid $violeta;
            border-radius: 60px;
        }

        .trending{
            text-align: center;
            max-width: 225px;
            margin-top: 31px;

            h4{
                font-family: $fuente_ppal;
                color: $violeta;
                font-weight: bold;
                font-size: 1em;
            }

            p{
                margin-top: 8px;
                font-family: $fuente_ppal;
                font-weight: 400;
                color: $violeta;
                font-size: 14px;
                line-height: 25px;
            }
        }
    }

}

@import "media_query_fav";